<a href="https://colab.research.google.com/github/laixiella/BDI-475-Final-Project/blob/main/COVID_19_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **BDI 475 Final Project - COVID-19 Data Analysis**

I chose to analyze these data sets of COVID-19 because I want to gain a deeper insight into the current situation of the global pandemic by filtering and sorting the confirmed number of cases, the death number resulting from COVID-19, and the number of recovered cases of each country/region.

### 1. Import Python packages

In [1]:
if 'google.colab' in str(get_ipython()):

    !pip install plotly==4.14.3

Collecting plotly==4.14.3
  Downloading https://files.pythonhosted.org/packages/1f/f6/bd3c17c8003b6641df1228e80e1acac97ed8402635e46c2571f8e1ef63af/plotly-4.14.3-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 289kB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.14.3) (1.15.0)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.14.3

In [2]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

### 2. import datasets

For this project, I chose to use three JHU CSSE COVID-19 datasets.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [4]:
df_d = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [5]:
df_r = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

### 3. Find the number of rows and and columns in each dataset

I will store the number of rows to a new variable named num_rows_c and store the number of columns to num_cols_c and use .shape to print out the number of rows and columns in each dataset.

In [6]:
num_rows_c = df.shape[0]
num_cols_c = df.shape[1]
print(f'There are {num_rows_c} rows and {num_cols_c} columns in the COVID-19 global confirmed cases dataset.')

There are 275 rows and 482 columns in the COVID-19 global confirmed cases dataset.

In [7]:
num_rows_d = df_d.shape[0]
num_cols_d = df_d.shape[1]
print(f'There are {num_rows_d} rows and {num_cols_d} columns in the COVID-19 global death number dataset.')

There are 275 rows and 482 columns in the COVID-19 global death number dataset.

In [8]:
num_rows_r = df_r.shape[0]
num_cols_r = df_r.shape[1]
print(f'There are {num_rows_r} rows and {num_cols_r} columns in the COVID-19 global recovery cases dataset.')

There are 260 rows and 482 columns in the COVID-19 global recovery cases dataset.

### 4. Print a concise summary of each dataset

I will use info( ) to print a concise summary of each database.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Columns: 482 entries, Province/State to 5/13/21
dtypes: float64(2), int64(478), object(2)
memory usage: 1.0+ MB

In [10]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Columns: 482 entries, Province/State to 5/13/21
dtypes: float64(2), int64(478), object(2)
memory usage: 1.0+ MB

In [11]:
df_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Columns: 482 entries, Province/State to 5/13/21
dtypes: float64(2), int64(478), object(2)
memory usage: 979.2+ KB

### 5. Find the total number of confirmed cases at 5/6/21

I will calculate the total number of confirmed cases, death number resulted by COVID-19, and recovered COVID-19 cases in df, df_d and df_ r and then store the three results to three new variables: total_num_confirmed, total_num_deaths, and total_num_recover.

In [12]:
total_num_confirmed = df['5/6/21'].sum()

print(f'{total_num_confirmed} COVID-19 cases were confirmed at 5/6/21.')

156070729 COVID-19 cases were confirmed at 5/6/21.

In [13]:
total_num_deaths = df_d['5/6/21'].sum()
print(f'{total_num_deaths} cases of death resulted by COVID-19 were confirmed at 5/6/21.')

3256121 cases of death resulted by COVID-19 were confirmed at 5/6/21.

In [14]:
total_num_recover = df_r['5/6/21'].sum()
print(f'{total_num_recover} recovered COVID-19 cases were confirmed at 5/6/21.')

92301898 recovered COVID-19 cases were confirmed at 5/6/21.

### 6. Filter rows with 0 confirmed cases at 5/6/21

To filter the rows with 0 confirmed cases at 5/6/21, I will create a new variable, df_0, and store the matched result in it using the df dataset.

In [15]:
df_0 = df[df['5/6/21'] == 0]

display(df_0.head(10))
print(f'There are {df_0.shape[0]} countries/regions with 0 confirmed cases at 5/6/21.')

      Province/State Country/Region  Lat  ...  5/11/21  5/12/21  5/13/21
41  Diamond Princess         Canada  0.0  ...        0        0        0
88           Unknown          China  NaN  ...        0        0        0

[2 rows x 482 columns]

There are 2 countries/regions with 0 confirmed cases at 5/6/21.

### 7. Find rows with 0 number of death resulted by COVID-19 at 5/6/21

To filter the rows with 0 number of death resulted by COVID-19 at 5/6/21, I will create a new variable, df_d0, and store the matched result in it using the df_d dataset.

In [16]:
df_d0 = df_d[df_d['5/6/21'] == 0]

display(df_d0.head(10))
print(f'There are {df_d0.shape[0]} countries/regions with 0 number of death resulted by COVID-19 at 5/6/21.')

            Province/State Country/Region      Lat  ...  5/11/21  5/12/21  5/13/21
10      Northern Territory      Australia -12.4634  ...        0        0        0
42          Grand Princess         Canada   0.0000  ...        0        0        0
46   Northwest Territories         Canada  64.8255  ...        0        0        0
50    Prince Edward Island         Canada  46.5107  ...        0        0        0
52  Repatriated Travellers         Canada      NaN  ...        0        0        0
74                 Jiangsu          China  32.9711  ...        0        0        0
78                   Macau          China  22.1667  ...        0        0        0
79                 Ningxia          China  37.2692  ...        0        0        0
80                 Qinghai          China  35.7452  ...        0        0        0
84                  Shanxi          China  37.5777  ...        0        0        0

[10 rows x 482 columns]

There are 26 countries/regions with 0 number of death resulted by COVID-19 at 5/6/21.

### 8. Filter rows with >=50,000 recovered cases at 5/6/21

To filter the rows with >=50,000 recovered cases at 5/6/21, I will create a new variable, df_r5, and store the matched result in it using the data from df_r.

In [17]:
df_r5 = df_r[df_r['5/6/21'] >=50000]

display(df_r5.head(10))
print(f'There are {df_r5.shape[0]} countries/regions with greater than or equal to 50,000 recovered COVID-19 cases at 5/6/21.')

   Province/State Country/Region       Lat  ...  5/11/21  5/12/21  5/13/21
0             NaN    Afghanistan  33.93911  ...    54503    54534    54619
1             NaN        Albania  41.15330  ...   119061   120072   121122
2             NaN        Algeria  28.03390  ...    86703    86857    87003
6             NaN      Argentina -38.41610  ...  2854364  2869341  2891435
7             NaN        Armenia  40.06910  ...   205675   206078   206752
16            NaN        Austria  47.51620  ...   607712   609666   611254
17            NaN     Azerbaijan  40.14310  ...   308317   309771   311198
19            NaN        Bahrain  26.02750  ...   177212   178458   179958
20            NaN     Bangladesh  23.68500  ...   715321   718249   719619
22            NaN        Belarus  53.70980  ...   360916   362112   362806

[10 rows x 482 columns]

There are 94 countries/regions with greater than or equal to 50,000 recovered COVID-19 cases at 5/6/21.

### 9. Filter France province with confirmed COVID-19 cases lower than 5,000 at 5/6/21

To filter France provinces with confirmed COVID-19 cases lower than 5,000 at 5/6/21, I will create a new variable, df_fr_5k, and store the matched result in it using the df dataset.
After filtering the rows, I will then create a boxplot to show the data's distribution.

In [18]:
df_fr_5k = df[(df['Country/Region'] == 'France') & (df['5/6/21'] <= 5000)]

df_fr_5k.head(10)

                Province/State Country/Region  ...  5/12/21  5/13/21
124              New Caledonia         France  ...      124      124
126           Saint Barthelemy         France  ...      974      974
127  Saint Pierre and Miquelon         France  ...       25       25
128                  St Martin         France  ...     1773     1773
129          Wallis and Futuna         France  ...      445      445

[5 rows x 482 columns]

In [19]:
fig = px.box(df[(df['Country/Region'] == 'France') & (df['5/6/21'] <= 5000)],
             x='5/6/21',
             orientation='h',
             title='France province with confirmed COVID-19 cases lower than 5,000')
fig.show()

### 10. Filter China province with confirmed number of death resulted by COVID-19 lower than or equal to 500 at 5/6/21

To filter China provinces with confirmed number of death resulted by COVID-19 lower than or equal to 500 at 5/6/21, I will create a new variable, df_ch_5, and store the matched result in it using the df_d dataset.
After filtering the rows, I will then create a boxplot to show the data's distribution.

In [20]:
df_ch_5 = df_d[(df_d['Country/Region'] == 'China') & (df_d['5/6/21'] <= 500)]

df_ch_5.head(10)

   Province/State Country/Region      Lat  ...  5/11/21  5/12/21  5/13/21
58          Anhui          China  31.8257  ...        6        6        6
59        Beijing          China  40.1824  ...        9        9        9
60      Chongqing          China  30.0572  ...        6        6        6
61         Fujian          China  26.0789  ...        1        1        1
62          Gansu          China  35.7518  ...        2        2        2
63      Guangdong          China  23.3417  ...        8        8        8
64        Guangxi          China  23.8298  ...        2        2        2
65        Guizhou          China  26.8154  ...        2        2        2
66         Hainan          China  19.1959  ...        6        6        6
67          Hebei          China  39.5490  ...        7        7        7

[10 rows x 482 columns]

In [21]:
fig = px.box(df_d[(df_d['Country/Region'] == 'China') & (df_d['5/6/21'] <= 500)],
             x='5/6/21',
             orientation='h',
             title='China province with confirmed number of death resulted by COVID-19 lower than or equal to 500')
fig.show()

### 11. Filter India states with confirmed recovered COVID-19 cases greater than or equal to 500 at 5/6/21

To filter India states with confirmed recovered COVID-19 cases greater than or equal to 500 at 5/6/21, I will create a new variable, df_in_5, and store the matched result in it using the df_r dataset.

In [22]:
df_in_5 = df_r[(df_r['Country/Region'] == 'India') & (df_r['5/6/21'] >= 500)]

df_in_5.head(10)

    Province/State Country/Region        Lat  ...   5/11/21   5/12/21   5/13/21
132            NaN          India  20.593684  ...  19382642  19734823  20079599

[1 rows x 482 columns]

From the filtered data, there is only one row that matches with the geographical and other assumptions.

### 12. Create a summary of metrics of confirmed cases

To create a summary of metrics of confirmed cases, I will create a new variable named df_metrics.

In [23]:
df_metrics = df.groupby('5/6/21', as_index=False)

df_metrics.head(10)

    Province/State      Country/Region        Lat  ...  5/11/21  5/12/21  5/13/21
0              NaN         Afghanistan  33.939110  ...    62403    62718    63045
1              NaN             Albania  41.153300  ...   131803   131845   131890
2              NaN             Algeria  28.033900  ...   124483   124682   124889
3              NaN             Andorra  42.506300  ...    13447    13470    13470
4              NaN              Angola -11.202700  ...    29146    29405    29695
..             ...                 ...        ...  ...      ...      ...      ...
270            NaN             Vietnam  14.058324  ...     3571     3658     3740
271            NaN  West Bank and Gaza  31.952200  ...   302777   303270   303270
272            NaN               Yemen  15.552727  ...     6492     6498     6507
273            NaN              Zambia -13.133897  ...    92152    92211    92262
274            NaN            Zimbabwe -19.015438  ...    38448    38466    38491

[275 rows x 482 columns]

### 13. Sort by number of confirmed cases at 5/6/21

To sort by number of confirmed cases at 5/6/21 from the highest to lowest, I will create a new variable, df_by_cc, sort the values in descending order, and store the result in it.

After sorting the data, I will use a bar chart to show the 20 country/region with the highest number of confirmed cases at that date.

In [24]:
df_by_cc = df.sort_values('5/6/21', ascending=False)

df_by_cc.head(10)

    Province/State  Country/Region        Lat  ...   5/11/21   5/12/21   5/13/21
250            NaN              US  40.000000  ...  32778906  32814784  32852871
147            NaN           India  20.593684  ...  23340938  23703665  24046809
30             NaN          Brazil -14.235000  ...  15282705  15359397  15433989
130            NaN          France  46.227600  ...   5750098   5770128   5789589
249            NaN          Turkey  38.963700  ...   5059433   5072462   5083996
214            NaN          Russia  61.524010  ...   4840948   4849044   4857303
265            NaN  United Kingdom  55.378100  ...   4439691   4441975   4444631
153            NaN           Italy  41.871940  ...   4123230   4131078   4139160
234            NaN           Spain  40.463667  ...   3586333   3592751   3598452
134            NaN         Germany  51.165691  ...   3557904   3564494   3578125

[10 rows x 482 columns]

In [25]:
fig = px.bar(
    df_by_cc.head(20),
    x='5/6/21',
    y='Country/Region',
    color='Country/Region',
    template='plotly_dark',
    title='Confirmed Cases Breakdown by Country/Region',
    height=600
)

fig.update_yaxes(categoryorder='total ascending')

fig.show()

### 14. Sort by number of death resulted by COVID-19 at 5/6/21

To sort number of death resulted by COVID-19 at 5/6/21, I will create a new variable, df_by_nd, sort the values in descending order, and store the result in it.

After sorting the data, I will use a bar chart to show the 20 country/region with the highest number of death number resulted by COVID-19 at that date.

In [26]:
df_by_nd = df_d.sort_values('5/6/21', ascending=False)

df_by_nd.head(10)

    Province/State  Country/Region        Lat  ...  5/11/21  5/12/21  5/13/21
250            NaN              US  40.000000  ...   582837   583685   584487
30             NaN          Brazil -14.235000  ...   425540   428034   430417
147            NaN           India  20.593684  ...   254197   258317   262317
182            NaN          Mexico  23.634500  ...   219323   219590   219901
265            NaN  United Kingdom  55.378100  ...   127629   127640   127651
153            NaN           Italy  41.871940  ...   123282   123544   123745
214            NaN          Russia  61.524010  ...   112063   112410   112795
130            NaN          France  46.227600  ...   106186   106350   106481
134            NaN         Germany  51.165691  ...    85385    85451    85853
234            NaN           Spain  40.463667  ...    79100    79208    79281

[10 rows x 482 columns]

In [27]:
fig = px.bar(
    df_by_nd.head(20),
    x='5/6/21',
    y='Country/Region',
    color='Country/Region',
    template='plotly_dark',
    title='COVID-19 Death Number Breakdown by Country/Region',
    height=600
)

fig.update_yaxes(categoryorder='total ascending')

fig.show()

### 15. Sort by recovered COVID-19 cases at 5/6/21

To sort recovered COVID-19 cases at 5/6/21, I will create a new variable named df_by_rc, sort the values in descending order, and store the result in it.

After sorting the data, I will use a bar chart to show the 30 country/region with the highest number of recovered COVID-19 cases at that date.

In [28]:
df_by_rc = df_r.sort_values('5/6/21', ascending=False)

df_by_rc.head(10)

    Province/State Country/Region        Lat  ...   5/11/21   5/12/21   5/13/21
132            NaN          India  20.593684  ...  19382642  19734823  20079599
30             NaN         Brazil -14.235000  ...  13592463  13622419  13662690
234            NaN         Turkey  38.963700  ...   4766124   4801291   4856763
199            NaN         Russia  61.524010  ...   4458408   4466782   4475999
138            NaN          Italy  41.871940  ...   3636089   3655112   3669407
119            NaN        Germany  51.165691  ...   3231090   3233630   3268190
77             NaN       Colombia   4.570900  ...   2848153   2859627   2874656
6              NaN      Argentina -38.416100  ...   2854364   2869341   2891435
195            NaN         Poland  51.919400  ...   2580245   2582519   2584751
134            NaN           Iran  32.427908  ...   2144197   2162087   2179890

[10 rows x 482 columns]

In [29]:
fig = px.treemap(
    df_by_rc.head(30),
    path=['Country/Region'],
    title='COVID-19 Recovered Number Breakdown by Country/Region',
    values='5/6/21',
    height=700
)

fig.show()

## **Analysis Findings**
In this project, I chose to use three datasets from JHU CSSE: global confirmed number of COVID-19 cases, global death number resulted by COVID-19, and global recovered COVID-19 cases. After conducting the data analysis, I was able to understand more about the global pandemic situation, including finding out that there are two countries/regions with 0 confirmed cases on 5/6/21, 26 countries/regions with 0 number of death resulted by COVID-19 at the same date, and 94 countries/regions with greater than or equal to 50,000 recovered COVID-19 cases at 5/6/21. 
Furthermore, I filtered the dataset to find out the pandemic situation in France, China, and India and used box plots to showcase the data distribution in section 9 to 11.
Lastly, from section 13 to 15, I sorted the three datasets in descending orders and used bar charts and a tree-map to deliver the findings.